* {
    box-sizing: border-box;
}
/* COLORS */
body, html {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: "Montserrat Alternates Medium", sans-serif;
    background-color:#395285;
    background-image: url("img/transparent-background-01.png");


}
#bandeau_header{
    background-size: 50%;
}
p {
    color: white;
    font-family: "Open Sans Light", serif;
    text-align: justify;
    font-size: 18px;
    line-height: 42px;
}
.fa-home, .fa-laptop-code, .fa-portrait, .fa-paper-plane,.fa-sticky-note,.fa-hands-helping,.fa-sign-in-alt,.fa-envelope-square,.fa-twitter-square,.fa-facebook-square
{
    text-align: center;
    color: white;
    font-size: 40px;
    padding: 15px 10px 0 10px;
    transition: .4s ease;
}
i:hover{.fa-home
transform: rotate(360deg);
    color: white;
}

.txtNav{
    font-size: 15px;
    color: white;
    text-align: center;
    padding: 0;
    font-family: "Open Sans", serif;
}

.lnVerticale{
    border-left: 5px solid white;
    height: auto;
    width: auto;
}

h1 {
    font-size: 50px;
    color: white;
    padding: 0 0 0 30px;
    text-align: left;
}

h1 strong, h2 strong {
    color: #f25f29;

}

h2 {
    font-size: medium;
    padding: .3em;
    color: #f25f29;
}

/*
/* header*/
header {
    width: 100%;
    margin: 0 auto 0 auto;
    text-align: center;
    color: white;
}

.nav ul {
    list-style: none;
    z-index: 3;
    padding: 0;
}


.nav a {
    text-align:center;
    text-decoration: none;
    color:white;
}

.nav .menu_flex {
    display:flex;
    width: 100%;
    height: 100px;
    box-shadow: 0 2px 2px #17195d;
}

.flex_items {
    width: 20%;
    text-align: center;
    font-weight: bold;
    color:#fefefe;
    letter-spacing: 2px;
    border-bottom: 2px;

}
.menu-item {
    cursor: pointer;
    background-color: #395285;
}

.flex_items.logo {
    background: transparent;
    align-items: flex-start;
}

.flex_items:hover {
    transform: skew(5deg);
    background-color: #354170;

}

.bloc_gauche{
    float: left;
    width: 60%;
    padding: 80px 50px 80px 50px;
    margin-top: 20px;

}
.bloc_droit {
     box-shadow: 0 4px 5px #17195d;
     float: right;
     width: 37%;
     padding: 2em;
     margin-top: 9em;
     text-align: center;
     background-color: white;
     font-size: 15px;
     color: white;
 }
.bloc_droit2 {
    box-shadow: 0 4px 5px #17195d;
    float: right;
    width: 37%;
    padding: 2em;
    margin-top: 11em;
    text-align: center;
    background-color: #acbf1b;
    font-size: 15px;
    color: white;
}



/*popup login*/
/*
.popup {
    position: fixed;
    display: none;
    width: 45vw;
    height: 40vh;
    top: 10em;
    right: 20em;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: 1s ease-in-out;
}

.popuptext {
    margin: auto;
    padding: 1em;
    width: 500px;
    border-radius: 1em;
    background-color: #3d0d64;
}

fieldset {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 95px;
    text-align: right;
    margin: 2%;
    vertical-align: top;
    font-size: medium;
}

input {
    margin:2%;
    font: normal 1em sans-serif;
    width: 70%;
    vertical-align: top;
    border: 1px solid black;
    height: auto;
}

button {
    margin: 2%;
    padding: 2%;
    width: auto;
    border-radius: 1.5em;
}

#submit {
    display: inline-block;
    position: relative;
    margin: 2%;
    width: 44%;
    text-align: center;
}

.popup:target {
    visibility: visible;
    opacity: 1;
}
.popup:target .popup-inner {
    bottom: 0;
    right: 0;
    transform: rotate(0);
}
.closepopup {
    position: absolute;
    right: 0;
    top: 0;
    width: 2rem;
    height: 2rem;
    font-size: .500rem;
    font-weight: 200;
    border-radius: 100%;
    background-color: #47BDFF;
    z-index: 4;
    color: #fff;
    line-height: 2rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}
*/
/*fin popup*/


span.icon {
    background: rgba(255, 255, 255, 0.23);
    width: 2em;
    height: 2em ;
    line-height:2em;
    border-radius:50%;
    border:1px solid transparent;
    display:block;
    font-size: xx-large;
    text-decoration: none;
    text-align: center;
    margin-top: .2em;
    margin-left: .2em;
}

/*
.enfant {
    position: relative;
}
.enfant:hover > .sous_menu {
    display:flex;
}

.sous_menu {
    display: none;
    flex-direction: column;
    align-content: center;
    align-items: flex-end;
    position: relative;
    background: #d93679;
    font-size: x-small;
}
.utilisateurs .sous_menu {
    display: none;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    position: relative;
    background: #3d0d64;
    font-size: x-small;
}

.sous-menu a {
    padding-top: .2em;
    text-align: center;

    color:#161e5c;

}

#bandeau_header{

    overflow: hidden;
    background-size: 100%;

    color:white;
}

#bandeau img {
    width:90%;

}

/*section*/

section {
    width: 80%;
    margin: 0 10%;
    font-size: medium;
}


#bloc_gauche {
    float: left;
    width: 70%;
    padding: 2em 5em;
}
aside {
    float: right;
    width: 30%;
    padding: 3em;
    margin-top: 12em;
    text-align: center;
    border: 2px groove black;
    border-radius: 1em;
}

h1 {
    font-size: x-large;
    color: #3b728f;
    text-align: center;
    padding: 1.2em;
}

h1 strong {
    color: #f25f29;
}

h2 {
    font-size: medium;
    color: #f25f29;
}
p {
    text-align: justify;
    font-size: small;
    line-height: 2.1;
}


#titre-aside {
    color: #f25f29;
    font-size: x-large;
    text-align: center;
    padding: .5em;
}

#infos_aside ul {
    list-style:none;
    width: 100%;
    padding-left: 0;
    line-height: 2.1em;
    color: #3b728f;
}


/*formation*/

#formation {
    font-size: medium;
}

#formation > ul {

    font-weight: normal;
    line-height: 1.8em;
    color: white;
    font-family: "Open Sans", serif;
    font-size: 18px;
    padding-bottom: 30px;
}

 .tableau {
     padding-top: 1.5em;
 }

 .col-sm{
     width: 60px;
     height: 60px;
 }

.inscription
{   margin: auto;
    padding: 1%;
    width: auto;
    height: 300px;
    text-align: center;
    font-size: medium;
}

.form > label {
    display: inline-block;
    width: 20%;
    text-align: right;
    vertical-align: center;
}

.form > input, textarea
{
    margin:.7em;
    font: normal 1em sans-serif;
    width: 65%;
    vertical-align: center;
    height: auto;
}

#envoyer > button {
    margin: .5em;
    padding: .5em;
    width: auto;
   background-color: white;

}

/*contat*/
    /*popup2*/

.container_popup2 {
    background-color: #acbf1b;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    margin: 3em 8em;
}

.button {
    text-decoration: none;
    font-size: .875rem;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 1.5rem;
    background-color: #fff;
    color: #395285;
    padding: 1rem 2rem;
    font-weight: 900;
}

.popup2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 15;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: .64s ease-in-out;
}
.popup-inner2 {
    position: relative;
    bottom: -100vw;
    right: -100vh;
    display: flex;
    align-items: center;
    max-width: 800px;
    max-height: 600px;
    width: 60%;
    height: 80%;
    background-color: #fff;
    transform: rotate(32deg);
    transition: .64s ease-in-out;
}

.popuptext2 {
    width: 70%;
    height: 100%;
    padding: 4rem;
}
.popuptext2 > form {
    padding : 3em;
}

.popup2:target {
    visibility: visible;
    opacity: 1;
}
.popup2:target .popup-inner2 {
    bottom: 0;
    right: 0;
    transform: rotate(0);
}
.closepopup2 {
    position: absolute;
    right: -1rem;
    top: -1rem;
    width: 3rem;
    height: 3rem;
    font-size: .875rem;
    font-weight: 300;
    border-radius: 100%;
    background-color: #47BDFF;
    z-index: 4;
    color: #fff;
    line-height: 3rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

    /*renseignements*/

#renseignements {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-flow: row wrap;
    background: none;
    margin-bottom: 3em;
}

.flex_r {
    width: 33.33%;

    border-left: 5px solid white;
    padding-left: 30px;

}
.flex_r > h1 {
    color:#3d0d64;
}

.flex_r > p {

    text-align: center;

}


#iframe {
    margin:2em;
}

/*Actu*/

.separator {
    height: 3px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: white;
    margin-top: 3%;
    margin-bottom: 2%;
}
.row.actu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding-left:1em;
    padding-right: 2em;

}

.btn_right {
    text-align: right;
}

.col-sm3 {
    margin-right: 2%;
}

.photo_art {
    width: 120%;
}


.txtActualite{
    padding-left: 120px;
    width: 600px;
    font-family: "Open Sans", serif;
    margin-top: 20px;

}
.H2Actualite {
    padding-left: 120px;
    text-align: start;
    width: 600px;
    font-family: "Open Sans SemiBold", serif;
    font-size: 20px;
    color: #f25f29;
}

#notreSlogan{
    color: #f25f29;
}

.col-sm9 > .col-sm9 > h2 {
    text-align: left;
    font-size: medium;
    font-weight: bold;
}
.bouton {
    text-align: right;
    float: right;
    background-color: #3b728f;
    color: white;
}



/*footer*/

footer {
    margin-top: 50px;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: #f25f29;
    color: white;
    display: flex;
    justify-content: space-between;
}

.txt_footer p {
    font-family: "Open Sans", serif;
    font-size: 15px;
    padding: 10px;
    margin-left: 5px;

}

.fa-envelope-square, .fa-facebook-square, .fa-twitter-square {
            color: white;
            padding: 20px;
            margin-top: 10px;
            justify-items: end;
        }
.fa-envelope-square, .fa-facebook-square, .fa-twitter-square :hover{
    color: white;
    padding: 20px;
    margin-top: 10px;
    justify-items: end;
}

/*media queries*/
/*  pour tablettes*/
@media (max-width:1024px) {
    #icones_footer > i {
        font-size: 2.5em;
        padding: .5em 1em;
    }
}

/*pour smartphone-landscape-tablettes*/
@media (max-width: 812px){
    * {
        margin: 0;
        padding: 0;
    }
    nav {
        width: 130%;
    }

    section {
        width: 100%;
    }
    #bloc_gauche {
        float: left;
        width: 63%;
        margin: 0;
        padding-left: 1em;
        padding-bottom: 1em;
        color: white;
    }
    section aside {
        width: 37%;
        float: right;
        padding: 0;
    }

    footer {
        width: 130%;}

    #icones_footer > i
    {
        font-size: 2.5em;
        padding: .5em 1em;
    }

}

/*petit smart*/
@media (max-width: 640px) {
    .nav .menu_flex {
        flex-direction: column;
        height: auto;
    }

    #bandeau {
        display: none
    }

    section {
        position: absolute;
        top: 0;
        padding-left: 5em;
    }

    #bloc_gauche {
        float: right;
        width: 100%;
        margin: 0;
        padding-left: 1em;
        padding-bottom: 1em;
    }

    section aside {
        width: 100%;
        padding: 0;
        margin-top: 0;
    }

    body {
        position: relative;
        padding-bottom: 120em;
    }

    footer {
        position: absolute;
        width: 100%;
        bottom: 0;
    }

    #icones_footer > i {
        font-size: 2.5em;
        padding: .5em 1em;
    }

}












